%h1= "Search for " + params[:key] if params[:key].present?

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Telephone
      %th Email
      %th Image
      %th
      %th
      %th
  %tbody
    - if @contents.count > 0
      - @contents.each do |content|
        %tr
          %td= content.title
          %td= content.description
          %td= content.telephone
          %td= content.email
          %td= content.image
          %td= link_to 'Show', content
          %td= link_to 'Edit', edit_content_path(content)
    - else
      %tr
        %td No Contents 
%br

= link_to 'New Content', new_content_path
