%h1= "Search for " + params[:key] if params[:key].present?

%table
  %thead
    %tr
      %th タイトル
      %th 開発者
      %th プラットフォーム
      %th 詳細等
      %th 連絡先メール
      %th
      %th
  %tbody
    - if @contents.count > 0
      - @contents.each do |content|
        %tr
          %td= content.title
          %td= content.developer_name
          %td= content.platform
          %td= content.description.truncate(60)
          %td= content.email
          %td= link_to 'Show', content
          %td= link_to 'Edit', edit_content_path(content)
    - else
      %tr
        %td No Contents 
%br

= link_to 'New Content', new_content_path
