%h1 Listing contents

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Telephone
      %th Email
      %th Image
      %th
      %th
      %th

  %tbody
    - @contents.each do |content|
      %tr
        %td= content.title
        %td= content.description
        %td= content.telephone
        %td= content.email
        %td= content.image
        %td= link_to 'Show', content
        %td= link_to 'Edit', edit_content_path(content)
        %td= link_to 'Destroy', content, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Content', new_content_path
