!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %title VRContent
    = yield :header
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:rel=> 'stylesheet', :href => '/assets/css/foundation.css'}
    %link{:rel=>"stylesheet", :href =>"http://fonts.googleapis.com/icon?family=Material+Icons"}
  %body
    .top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.menu-text VR開発者がなに作ってる？リスト
          %li
            %a{:href => "/"} トップ
      .top-bar-right
        %form{action: "/contents/search", "accept-charset" => "UTF-8",  method: "get"}
          %ul.menu
            %li
              %input{:placeholder => "キーワード", :type => "search", name: "key"}/
            %li
              %button.button{:type => "submit"} Search
    %p#notice= notice
    %p#alert{style: "color:red;"}= alert
    = yield

    %script{:src => "/assets/js/jquery.js"}
    %script{:type => "text/javascript", :src => "/assets/js/foundation.min.js"}
